body {
    background-color: #c1e2b3;
}

#game-wrapper{
    text-align: center;
}

canvas {
    background: url('../assets/images/gameboard_grid.gif')
}

#start-button-clicked {
    position: absolute;
    top: 211px;
    left: 465px;
    width: 314px;
    height: 50px;
}


