body {
    background-color: #c1e2b3;
}

#game-wrapper{
    text-align: center;
}

canvas {
    background: url('../assets/images/gameboard_grid.gif');
}

#start-button-clicked > a {
    position: fixed;
    top: 30%;
    left: 32%;
}


