body {
    background-color: #c1e2b3;
}

#game-wrapper{
    text-align: center;
}

canvas {
    background: url('../assets/images/gameboard_grid.gif');
}

#start-button-clicked > a {
    position: absolute;
    top: 220px;
    left: 393px;
}


